<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qlw.mapper.ex.PaymentExMapper" >
    <insert id="insertBackId" parameterType="qlw.model.Payment" keyProperty="id" useGeneratedKeys="true">
    INSERT into payment
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="hospitalid != null" >
                hospitalid,
            </if>
            <if test="departmentid != null" >
                departmentid,
            </if>
            <if test="date != null" >
                date,
            </if>
            <if test="needpay != null" >
                needpay,
            </if>
            <if test="money != null" >
                money,
            </if>
            <if test="hospitalname != null" >
                hospitalname,
            </if>
            <if test="departmentname != null" >
                departmentname,
            </if>
            <if test="patientname != null" >
                patientname,
            </if>
            <if test="patientid != null" >
                patientid,
            </if>
            <if test="paynumber != null" >
                paynumber,
            </if>
            <if test="invoicenumber != null" >
                invoicenumber,
            </if>
            <if test="paytype != null" >
                paytype,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="hospitalid != null" >
                #{hospitalid,jdbcType=BIGINT},
            </if>
            <if test="departmentid != null" >
                #{departmentid,jdbcType=BIGINT},
            </if>
            <if test="date != null" >
                #{date,jdbcType=VARCHAR},
            </if>
            <if test="needpay != null" >
                #{needpay,jdbcType=DECIMAL},
            </if>
            <if test="money != null" >
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="hospitalname != null" >
                #{hospitalname,jdbcType=VARCHAR},
            </if>
            <if test="departmentname != null" >
                #{departmentname,jdbcType=VARCHAR},
            </if>
            <if test="patientname != null" >
                #{patientname,jdbcType=VARCHAR},
            </if>
            <if test="patientid != null" >
                #{patientid,jdbcType=BIGINT},
            </if>
            <if test="paynumber != null" >
                #{paynumber,jdbcType=VARCHAR},
            </if>
            <if test="invoicenumber != null" >
                #{invoicenumber,jdbcType=VARCHAR},
            </if>
            <if test="paytype != null" >
                #{paytype,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>